body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 24px;
  font-family: 'PT Sans', Arial, sans-serif;
  color: #000;
  text-transform: uppercase;
  background: #f2f2f2;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

p,
h2,
figure,
ul {
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}

a {
  color: #000;
  text-decoration: none;
}

.wrapper {
  margin: 0 auto;
  width: 1200px;
  box-shadow: 0 0 15px 1px rgba(0,1,1,0.5);
}

.container {
  margin: 0 auto;
  width: 1056px;
}

.index-content {
  background: #fff;
}

.description {
  color: #fff;
  text-align: center;
  background: #81b3d2;
}

.item-description-text {
  width: 280px;
  float: left;
  padding: 0 36px;
}

.item-description-text b  {
  display: block;
  margin-bottom: 15px;
  font-size: 21px;
  line-height: 30px;
  font-weight: bold;
}

.number span {
  position: relative;
  display: inline;
  padding: 0 6px;
  z-index: 2;
  background: #81b3d2;
}

.number::after {
  content: "";
  width: 30px;
  display: block;
  position: relative;
  bottom: 12px;
  left: 104px;
  z-index: 1;
  border-bottom: 2px solid #bcd6e7;
}

.number::before {
  content: "";
  width: 30px;
  display: block;
  position: relative;
  bottom: 11px;
  top: 11px;
  right: -145px;
  z-index: 1;
  border-bottom: 2px solid #bcd6e7;
}

.number {
  font-size: 14px;
  line-height: 21px;
}

.item-description-images {
  width: 728px;
  height: 256px;
  float: left;
}

.item-description-images img {
  width: 800px;
  height: 256px;
}

.main-header {
  background: #ffffff;
}

.main-header::after {
  position: absolute;
  content: '';
  width: 138px;
  height: 70px;
  top: 0;
  left: 46.8%;
  background: url("../images/header-logo.png") no-repeat;
  z-index: 2;
}


.main-navigation .first-ul{
  float: left;
}

.main-navigation .second-ul {
  float: right;
}



.main-navigation ul:last-child {
  padding-right: 0;
}

.main-navigation li {
  display: inline-block;
  vertical-align: top;
  font-weight: bold;
  padding-right: 146px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.main-navigation li:last-child {
  padding-right: 0;
}

.main-navigation a:hover {
  color: #81b3d2;
}

.main-navigation a:active {
  color: #b2b2b2;
  transition: none;
}

.main-navigation .active {
  color: #766357;
}

.main-navigation .active:hover {
  color: #604e43;
}

.main-navigation .active:active {
  color: #d6d0cc;
}

.welcome-text {
  height: 507px;
}

.promo-header {
  text-align: center;
  background-color: #ffffff;
}

.promo-header h2 {
  font-size: 21px;
  text-transform: uppercase;
  padding-top: 47px;
  padding-bottom: 39px;
}

.promo-header p {
  font-size: 14px;
  text-transform: uppercase;
  padding-bottom: 58px;
}

.block-desk {
  background: #81b3d2;
}

.desk-item {
  width: 280px;
  float: left;
  margin: 0 auto;
  padding: 0 60px;

}

.desk-item h2 {
  text-align: center;
  padding-top: 53px;
  padding-bottom: 25px;
  color: #ffffff;
}

.desk-item p {
  color: #ffffff;
  text-align: center;
}

.desk-item .desk-p {
  text-align: center;
  color: #ffffff;
  padding-bottom: 22px;
}

.desk-item span {
  position: relative;
  z-index: 2;
  padding: 0 6px;
  display: inline;
  background: #81b3d2;
}

.desk-item::after {
  content: '';
  position: relative;
  display: block;
  top: -83px;
  left: 116px;
  z-index: 1;
  border: 1px solid #ffffff;
  width: 45px;
}

.img-desk {
  float: right;
  width: 800px;
  height: 256px;
}

.img-desk img {
  width: 800px;
  height: 256px;
}

.features-block {
  background: #ffffff;
}

.features-item {
  width: 285px;
  float: left;
  padding-top: 55px;
  padding-bottom: 86px;
  margin-right: 100px;
}

.features-item:last-child {
  margin-right: 0;
}

.features-item .img-item {
  text-align: center;
}

.features-item h3 {
  font-size: 21px;
  font-weight: bold;
  text-align: center;
}

.features-item p {
  text-align: center;
}

.features-block-2 {
  background-color: #eeeeee;
}

.features-item-2 {
  width: 280px;
  float: left;
  margin-right: 100px;
  padding-bottom: 40px
}

.features-item-2 h2 {
  text-align: center;
  padding-top: 47px;
  padding-bottom: 25px;
  color: #000;
}

.features-item-2 p {
  color: #000;
  text-align: center;
}

.features-item-2 .features-p {
  text-align: center;
  color: #000;
  padding-bottom: 22px;
}

.features-item-2 span {
  position: relative;
  z-index: 2;
  padding: 0 6px;
  display: inline;
  background: #eeeeee;
}

.features-item-2::after {
  content: '';
  position: relative;
  display: block;
  top: -83px;
  left: 116px;
  z-index: 1;
  border: 1px solid #000;
  width: 45px;
}

.features-item-2:last-child {
  margin-right: 0;
}

.block-desk-2 {
  background: #81b3d2;
}

.desk-item-2 {
  width: 280px;
  float: right;
  margin: 0 auto;
  padding: 0 60px;
}

.desk-item-2 h2 {
  text-align: center;
  padding-top: 47px;
  padding-bottom: 25px;
  color: #ffffff;
}

.desk-item-2 p {
  color: #ffffff;
  text-align: center;
}

.desk-item-2 .desk-p {
  text-align: center;
  color: #ffffff;
  padding-bottom: 22px;
}

.desk-item-2 span {
  position: relative;
  z-index: 2;
  padding: 0 6px;
  display: inline;
  background: #81b3d2;
}

.desk-item-2::after {
  content: '';
  position: relative;
  display: block;
  top: -83px;
  left: 116px;
  z-index: 1;
  border: 1px solid #ffffff;
  width: 45px;
}

.img-desk-2 {
  float: right;
  width: 800px;
  height: 256px;
}

.img-desk-2 img {
  width: 800px;
  height: 256px;
}

.date-time {
  background: #ffffff;
  padding-bottom: 29px;
}

.date-time h2 {
  font-size: 30px;
  text-align: center;
  padding-bottom: 38px;
  padding-top: 59px;
}

.date-time p {
  text-align: center;
  padding-bottom: 53px;
}

.date-time .search-hotel {
  text-align: center;
}

.date-time a {
  text-transform: uppercase;
  color: #ffffff;
  font-size: 21px;
  background: #766357;
  padding: 30px 145px;
}

.sedona-map {
  height: 474px;
}

.main-footer {
  background: #ffffff;
  padding: 35px 0;
}

.linksedona {
  width: 240px;
  float: left;
  margin-right: 88px;
}

.linksedona a {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 21px;
  padding-top: 20px;
  display: inline-block;
}

.footer-social {
  width: 400px;
  float: left;
  margin-right: 80px;
  text-align: center;
}

.social-btn {
  display: inline-block;
  width: 46px;
  height: 48px;
  font-size: 0;
  vertical-align: top;
  text-decoration: none;
  background: #81b3d2 url("../images/spritesheet.png") no-repeat center;
}

.social-btn-tw {
  background-position: -132px 7px;
}

.social-btn-fb {
  background-position: -32px 4px;
}

.social-btn-ytube {
  background-position: 3px 6px;
}

.social-btn:hover {
  background: #669ec0 url("../images/spritesheet.png") no-repeat center;
}

.social-btn-tw:hover {
  background-position: -132px 7px;
}

.social-btn-fb:hover {
  background-position: -32px 4px;
}

.social-btn-ytube:hover {
  background-position: 3px 6px;
}

.social-btn:active {
  background: #5496bd url("../images/spritesheet.png") no-repeat center;
}

.social-btn-tw:active {
  background-position: -95px 7px;
}

.social-btn-fb:active {
  background-position: -62px 4px;
}

.social-btn-ytube:active {
  background-position: -171px 6px;
}

.website-link {
  position: relative;
  float: left;
  width: 245px;
}

.website-link p {
  padding-left: 45px;
  padding-top: 8px;
  display: inline-block;
}

.website-link a {
  display: inline-block;
  vertical-align: middle;
  font-size: 0;
  background: url("../images/htmlacademy.png") no-repeat;
  width: 113px;
  height: 39px;
  margin-left: 10px;
}

.copyright a:hover {
  background: url("../images/htmlacademy-hvr.png") no-repeat;
}

.copyright a:active {
  opacity: 0.3;
}

/* -------------POPUP--------- */

.popup-sedona {
  display: none;
  padding-top: 55px;
  padding-bottom: 55px;
  position: absolute;
  bottom: -1550px;
  left: 533px;
  width: 597px;
  background: #ffffff;
  box-shadow: 0 0 15px 1px rgba(0,1,0,0.5);
}

.form-wrapper {
  width: 479px;
  margin: 0 auto;
}

.datecome {
  display: inline-block;
  float: left;
  padding-right: 20px;
  padding-top: 10px;
  text-transform: uppercase;
  font-weight: bold;
}

.dateout {
  display: inline-block;
  float: left;
  padding-right: 17px;
  padding-top: 10px;
  text-transform: uppercase;
  font-weight: bold;
}

.popup-sedona input {
  background: #f2f2f2;
  border: none;
  outline: none;
  width: 296px;
  height: 39px;
  padding-left: 15px;
  padding-right: 35px;
}

.popup-sedona input:hover {
  background: #ebebeb;
}

.popup-sedona input:focus {
  outline: 2px solid #e5e5e5;
  background: #ffffff;
}

.popup-sedona .come-inp {
  margin-bottom: 29px;
}

.popup-sedona .out-inp {
  margin-bottom: 29px;
}

::-webkit-input-placeholder {
  color:#000;
  font-weight: bold;
}
::-moz-placeholder {
  color:#000;
  font-weight: bold;
}
:-moz-placeholder {
  color: #000;
  font-weight: bold;
}

:-ms-input-placeholder {
  color:#000;
  font-weight: bold;
}

:focus::-webkit-input-placeholder {color: transparent}
:focus::-moz-placeholder          {color: transparent}
:focus:-moz-placeholder           {color: transparent}
:focus:-ms-input-placeholder      {color: transparent}


input::-webkit-input-placeholder{text-indent:0px;transition:all 0.7s ease;}
input::-moz-placeholder{text-indent:0px;transition:all 0.7s ease;}
input:-moz-placeholder{text-indent:0px;transition:all 0.7s ease;}
input:-ms-input-placeholder{text-indent:0px;transition:all 0.7s ease;}
input:focus::-webkit-input-placeholder{text-indent:50px; transition:all 0.7s ease;opacity:0;}
input:focus::-moz-placeholder{text-indent:50px; transition:all 0.7s ease;opacity:0;}
input:focus:-moz-placeholder {text-indent:50px; transition:all 0.7s ease;opacity:0;}
input:focus:-ms-input-placeholder{text-indent:50px; transition:all 0.7s ease;opacity:0;}

.popup-sedona .datapicker-come {
  position: absolute;
  width: 21px;
  height: 22px;
  top: 65px;
  right: 95px;
  background: url("../images/calendar.png") no-repeat;
  opacity: 0.3;
}

.popup-sedona .datapicker-come:hover {
  opacity: 1;
}

.popup-sedona .datapicker-come:active {
  background: url("../images/calendar-active.png") no-repeat;
}

.popup-sedona .datapicker-out {
  position: absolute;
  width: 21px;
  height: 22px;
  top: 135px;
  right: 95px;
  background: url("../images/calendar.png") no-repeat;
  opacity: 0.3;
}

.popup-sedona .datapicker-out:hover {
  opacity: 1;
}

.popup-sedona .datapicker-out:active {
  background: url("../images/calendar-active.png") no-repeat;
}

.popup-sedona .search-button-block {
  background: #5496bd;
  width: 453px;
}

.popup-sedona .search-button {
  display: block;
  text-align: center;
  background: #81b3d2;
  width: 453px;
  font-size: 21px;
  color: #ffffff;
  padding: 15px 0;
  outline: none;
  border: none;
  text-transform: uppercase;
}

.popup-sedona .search-button:hover {
  background: #669ec0;
}

.popup-sedona .search-button:active {
  background: #5496bd;
  opacity: 0.3;
}

.popup-show {
  display: block;
  animation: form_opacity 0.6s;
}

@keyframes form_opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* ---------INDEX END---------*/


.section-block {
  background: url("../images/filter background.jpg") no-repeat;
  height: 217px;
}

.section-block span {
  text-transform: uppercase;
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
}

.infrastructure-item {
  float: left;
  width: 240px;
}

.infrastructure-item .title-item {
  display: inline-block;
  padding: 27px 0;
}

.infrastructure label {
  display: block;
  color: #ffffff;
  font-size: 14px;
  padding-left: 35px;
}

.choose-checkbox {
  position: relative;
  cursor: pointer;
}

.infrastructure-item input[type="checkbox"] {
  display: none;
}

.choose-checkbox {
  display: inline-block;
  vertical-align: top;
  padding-left: 35px;
  padding-bottom: 20px;
}

.choose-checkbox input[type="checkbox"] +
.checkbox-indicator {
  position: absolute;
  top: 0;
  left: 0;
  width: 21px;
  height: 21px;
  background: url("../images/icon-check-off.png") no-repeat;
}

.choose-checkbox input[type="checkbox"] +
.checkbox-indicator:hover {
  opacity: 1;
}

.choose-checkbox input[type="checkbox"]:checked +
.checkbox-indicator {
  content: "";
  position: absolute;
  width: 27px;
  height: 23px;
  background: url("../images/icon-check-on.png") no-repeat;
}

.housetype-item input[type="checkbox"] {
  display: none;
}

.housetype-item {
  float: left;
  width: 288px;
}

.housetype-item .title-item {
  display: inline-block;
  padding: 27px 0;
}

.housetype label {
  display: block;
  color: #ffffff;
  font-size: 14px;
  padding-left: 35px;
}

.housetype-item input[type="checkbox"] {
  display: none;
}

.main-items-block {
  margin-right: 200px;
  float: left;
}

.block-inputs {
  float: left;
  position: relative;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 65px;
  padding-right: 39px;
  border: 2px solid #ffffff;
  border-radius: 2px;
  margin-left: 10px;
}

.block-inputs::after {
  position: absolute;
  content: '';
  width: 2px;
  height: 22px;
  top: 5px;
  left: 150px;
  background: #ffffff;
}

.block-inputs span {
  font-size: 14px;
  padding-right: 3px;
}

.slider-small .link-show {
  text-align: center;
}

.slider-small a {
  display: inline-block;
  padding: 3.5px 33.6px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 2px;
}

.slider-small a:hover {
  color: #000;
  background: #ffffff;
}

.sorting-block {
  padding: 31px 0;
  background: #ffffff;
  border-bottom: 1px solid  #e5e5e5;
}

.sorting-block h2 {
  font-weight: bold;
  float: left;
  padding-right: 49px;
}

.sorting-block li {
  display: inline-block;
  vertical-align: top;
  font-size: 12px;
}

.sorting-block .sorting-list {
  display: inline;
  vertical-align: top;
}

.sorting-block span {
  font-weight: bold;
  color: #000;
  text-transform: uppercase;
  font-size: 12px;
  padding-right: 40px;
}

.sorting-block li {
  margin-right: 30px;
}

.sorting-list .type, .rating {
  position: relative;
  font-weight: bold;
  text-transform: uppercase;
  color: #b2b2b2;
  font-size: 12px;
}

.sorting-list .active {
  color: #c4dcea;
  font-weight: bold;
}

.sorting-list a:hover {
  color: #c4dcea;
}

.sorting-list a:active {
  color: #000;
}

.sorting-list .type::after {
  position: absolute;
  content: '';
  width: 100%;
  top: 20px;
  left: 0;
  border-bottom: 1px dotted #c4dcea;
}

.sorting-list .rating::after {
  position: absolute;
  content: '';
  width: 100%;
  top: 20px;
  left: 0;
  border-bottom: 1px dotted #c4dcea;
}

.sorting-list .rating:hover::after {
  position: absolute;
  content: '';
  width: 100%;
  top: 20px;
  left: 0;
  border-bottom: 1px dotted #c4dcea;
}

.sorting-list .type:hover::after {
  position: absolute;
  content: '';
  width: 100%;
  top: 20px;
  left: 0;
  border-bottom: 1px dotted #c4dcea;
}

.sorting-list .type:active::after {
  border: none;
}

.sorting-list .rating:active::after {
  border: none;
}

.sorting-controls {
  width: 40px;
  float: right;
  font-size: 0;
}

.sorting-controls a {
  display: inline-block;
  position: relative;
  padding-right: 20px;
}

.sorting-controls .up::after {
  position: absolute;
  content: '';
  top: 7px;
  left: 2px;
  border: 6px solid transparent;	border-bottom: 11px solid #c1c1c1;
}

.sorting-controls .down::after {
  position: absolute;
  content: '';
  top: 12px;
  left: 2px;
  border: 6px solid transparent;	border-bottom: 11px solid #c1c1c1;
  transform: rotate(180deg);
}

.sorting-controls .up:hover::after {
  border: 6px solid transparent;	border-bottom: 11px solid #b5b5b5;
}

.sorting-controls .down:hover::after {
  border: 6px solid transparent;	border-bottom: 11px solid #b5b5b5;
}

.sorting-controls .up:active::after {
  border: 6px solid transparent;	border-bottom: 11px solid #000000;
}

.sorting-controls .down:active::after {
  border: 6px solid transparent;	border-bottom: 11px solid #000000;
}

.sorting-controls .active::after {
  border: 6px solid transparent;	border-bottom: 11px solid #81b3d2;
}

.result-block {
  background: #ffffff;
}

.result-item {
  padding: 30px 0;
  border-bottom: 1px solid #e5e5e5;
}

.hotel-result {
  width: 720px;
  float: left;
}

.result-item img {
  float: left;
  padding-right: 30px;
}

.result-item .title-link {
  display: inline-block;
  padding-bottom: 10px;
  font-size: 21px;
  font-weight: bold;
  color: #000;
}

.result-item .title-link:hover {
  color: #81b3d2;
}

.result-item .title-link:active {
  color: #b2b2b2;
}

.result-item span {
  display: inline-block;
  color: #000;
  font-weight: normal;
  font-size: 14px;
  padding-right: 15px;
  padding-bottom: 10px;
}

.rating-stars span:last-child {
  padding-right: 0;
}

.result-item .details {
  color: #ffffff;
  font-weight: bold;
  text-transform: uppercase;
  padding: 4.5px 17px;
  background: #81b3d2;
}

.result-item .details:hover {
  background: #669ec0;
}

.result-item .reserve:hover {
  background: #604e43;
}

.type-price {
  float: left;
  width: 440px;
}

.result-item .details-block .details:active {
  opacity: 0.3;
  background: #5496bd;
}

.result-item .reserve-block .reserve:active {
  opacity: 0.3;
  background: #503e33;
}


.details-block {
  padding: 1.3px 0;
  float: left;
  margin-right: 6px;
  background: #5496bd;
}

.reserve-block {
  padding: 1.3px 0;
  background: #766357;
  width: 142px;
  float: left;
}

.result-item .reserve {
  color: #ffffff;
  font-weight: bold;
  text-transform: uppercase;
  padding: 4.5px 17px;
  background: #766357;
}

.rating-result {
  float: right;
  width: 150px;
}

.raiting-stars {
  float: right;
  margin-bottom: 48px;
}

.raiting-stars .icon-star {
  display: inline-block;
  position: relative;
  padding-right: 19px;
}

.icon-star {
  position: absolute;
  content: '';
  width: 18px;
  height: 17px;
  background: url("../images/star-icon.png") no-repeat;
}

.raiting-sum {
  float: right;
}

.raiting-sum span {
  display: inline-block;
  padding: 1.5px 13.5px;
  background: #f2f2f2;
}

.inner-page .main-block {
  margin-bottom: 31px;
}



























































