body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 24px;
  font-family: 'PT Sans', Arial, sans-serif;
  color: #000;
  text-transform: uppercase;
  background: #f2f2f2;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

p,
h2,
figure,
ul {
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}

a {
  color: #000;
  text-decoration: none;
}

.wrapper {
  margin: 0 auto;
  width: 1200px;
}

.container {
  margin: 0 auto;
  width: 1056px;
}

.index-content {
  background: #fff;
}

.description {
  color: #fff;
  text-align: center;
  background: #81b3d2;

}

.item-description-text {
  width: 280px;
  float: left;
  padding: 0 36px;
}

.item-description-text b  {
  display: block;
  margin-bottom: 15px;
  font-size: 21px;
  line-height: 30px;
  font-weight: bold;
}

.number span {
  position: relative;
  display: inline;
  padding: 0 6px;
  z-index: 2;
  background: #81b3d2;
}

.number::after {
  content: "";
  width: 30px;
  display: block;
  position: relative;
  bottom: 12px;
  left: 104px;
  z-index: 1;
  border-bottom: 2px solid #bcd6e7;
}

.number::before {
  content: "";
  width: 30px;
  display: block;
  position: relative;
  bottom: 11px;
  top: 11px;
  right: -145px;
  z-index: 1;
  border-bottom: 2px solid #bcd6e7;
}



.number {
  font-size: 14px;
  line-height: 21px;

}

.item-description-images {
  width: 728px;
  height: 256px;
  float: left;
}

.item-description-images img {
  width: 800px;
  height: 256px;
}

.main-header {
  background: #ffffff;
}

.main-header::after {
  position: absolute;
  content: '';
  width: 138px;
  height: 70px;
  top: 0;
  left: 45%;
  background: url("../images/header-logo.png") no-repeat;
  z-index: 2;
}

.main-navigation ul {
  float: left;
  padding-right: 340px;
}

.main-navigation ul:last-child {
  padding-right: 0;
}

.main-navigation li {
  display: inline-block;
  vertical-align: top;
  font-weight: bold;
  padding-right: 146px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.main-navigation li:last-child {
  padding-right: 0;
}

.main-navigation a:hover {
  color: #81b3d2;
  transition: 0.2s;
}

.main-navigation a:active {
  color: #b2b2b2;
  transition: none;
}

.main-navigation .active {
  color: #766357;
}

.main-navigation .active:hover {
  color: #604e43;
}

.main-navigation .active:active {
  color: #d6d0cc;
}

.welcome-text {
  height: 507px;
}

.promo-header {
  text-align: center;
  background-color: #ffffff;
}

.promo-header h2 {
  font-size: 21px;
  text-transform: uppercase;
  padding-top: 60px;
  padding-bottom: 39px;
}

.promo-header p {
  font-size: 14px;
  text-transform: uppercase;
  padding-bottom: 58px;
}

.desc-block {
  background: #81b3d2;
  height: 256px;
}

.desc {
  width: 400px;
  float: left;
}

.desc h3 {
  margin: 0;
  color: #ffffff;
  text-align: center;
  font-size: 21px;
  padding-top: 33px;
  padding-bottom: 27px;

}

.desc span {
  display: inline;
  position: relative;
  z-index: 2;
  color: #ffffff;
  padding-left: 6px;
  padding-right: 6px;
  font-size: 14px;
  background: #81b3d2;
  text-align: center;
  margin-left: 180px;
}

.desc::after {
  content: '';
  position: relative;
  display: block;
  top: -90px;
  left: 169px;
  z-index: 1;
  border: 1px solid #ffffff;
  width: 54px;
}

.desc p {
  padding-top: 30px;
  color: #ffffff;
  font-size: 14px;
  text-align: center;
}

.img-desc {
  float: left;
  width: 800px;
  height: 256px;
}

.img-desc img {
  width: 800px;
  height: 256px;
}

.desc-block2 {
  background: #eeeeee;
  height: 256px;
}

.desc2 {
  width: 400px;
  float: left;
  background: #eeeeee;
  padding-top: 16px;
  padding-bottom: 55px;
}

.desc2 h3 {
  margin: 0;
  color: #000;
  text-align: center;
  font-size: 21px;
  padding-top: 33px;
  padding-bottom: 27px;
}

.desc2 span {
  display: inline;
  position: relative;
  z-index: 2;
  color: #000;
  padding-left: 6px;
  padding-right: 6px;
  font-size: 14px;
  background: #eeeeee;
  text-align: center;
  margin-left: 180px;
}

.desc2::after {
  content: '';
  position: relative;
  display: block;
  top: -90px;
  left: 169px;
  z-index: 1;
  border: 1px solid #000;
  width: 54px;

}

.desc2 p {
  padding-top: 30px;
  color: #000;
  font-size: 14px;
  text-align: center;
  background: #eeeeee;
}

.date-time {
  background: #ffffff;
}

.date-time h2 {
  padding-top: 75px;
  padding-bottom: 38px;
  text-align: center;
  font-weight: bold;
  font-size: 30px;
}

.date-time p {
  text-align: center;
  padding-bottom:  54px;
}

.date-time .link-popup {
  margin: 0 auto;
  text-align: center;
  background: #766357;
  width: 576px;
}

.date-time .link-popup a {
  display: block;
  font-size: 21px;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
  padding: 33px 0;
}

.features-item {
  width: 400px;
  text-align: center;
  float: left;
  background: #ffffff;
}

.features-item h3 {
  margin: 0;
  font-weight: bold;
  font-size: 21px;
  padding-bottom: 30px;
}

.features-item p {
  line-height: 21px;
  padding-bottom: 57px;
}

.block-img-features {
  height: 80px;
  padding-top: 66px;
  padding-bottom: 35px;
}